@media screen and (max-width:820px) {
    .home3 {
        >div {
            border-radius: 0 100px 100px 0;
            width: 90%;
        }
    }

    .contact {
        >main {
            height: 100vh;
            width: 100%;
            border-radius: 0%;

            h1 {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:700px) {
    nav {
        h1 {
            display: none;
        }

        main {
            width: 100%;
            justify-content: center;

            a {
                margin: 0.5rem;
            }
        }
    }

    .home {
        border-radius: 0px;

        main {
            h1 {
                font-size: 2rem;
            }
        }

        &::before {
            border-radius: 0px;
        }
    }

    .home2 {
        margin-top: -100px;
        height: 120vh;
        flex-direction: column;

        img {
            width: 100%;
        }

        div {
            width: 100%;
        }
    }

    .home3 {
        height: 100vh;
        div {
            text-align: center;
            width: 100%;
            border-radius: 0;

            p {
                padding: 3rem 1rem;
                font-size: 0.9rem;
            }
        }
    }

    .home4 {
        align-items: center;

        >div {
            height: 90vh;

            article>div {
                height: 6rem;
                width: 6rem;

                p {
                    font-size: 0.9rem;
                }

                svg {
                    font-size: 3rem;
                }
            }
        }
    }

    .contact{
        main{
            padding: 1rem;
            h1{
                margin: 1rem;
            }
            form{
                margin: 0;
                div{
                    width: 100%;
                }
            }
        }
    }

    footer{
        height: 50vh;
        grid-template-columns: 1fr;
        padding: 5rem;

        div{
            align-items: center;
        }
    }
}